<?xml version="1.0"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <appSettings>
    <add key="Name" value="MusicBee Now Playing OBS Exporter"/>
    <add key="Description" value="Export Now Playing music Metadata for OBS to consume and display during streaming."/>
    <add key="Author" value="Raven Ng"/>
    <add key="TargetApplication" value="Now Playing OBS Exporter"/>
    <add key="TrackArtworkFileOutput" value="F:\VideoEditing\Source\music-covers\Cover.jpg"/>
    <add key="TrackTitleFileOutput" value="F:\VideoEditing\Source\music-covers\Title.txt"/>
    <add key="TrackAlbumFileOutput" value="F:\VideoEditing\Source\music-covers\Album.txt"/>
    <add key="TrackArtistFileOutput" value="F:\VideoEditing\Source\music-covers\Artist.txt"/>
    <add key="DefaultArtistName" value="Ask me: Artist Name"/>
    <add key="DefaultTrackTitle" value="Ask me: Track Title"/>
    <add key="DefaultAlbumName" value="Ask me: Album Name"/>
    <add key="DefaultArtwork" value="R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw=="/>
  </appSettings>
</configuration>
